$white: #ffffff;
$afterFocus: #f2f2f2;
$lightCyan: #f4faff;
$beforeFocus: #bfbfbf;
$deep: #1a1a1a;
$mainColor: #1e1e1e;
$secondColor: #262626;
$thirdColor: #333333;
$danger: #f56c6c;
$primary: #ae81ff;
$deepBlue: #2a53cd;
$describe: #999999;
$gold: #ffdd40;
$orange: #f5a209;
$pink: #ab4775;
$dialogShadow: rgba(0, 0, 0, 0.4);
$font: Montserrat, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
$codeFont: Consolas, Monaco;
