$josefinSans: 'Josefin Sans', sans-serif;
$dominantHue: #1e1e1e;
$primaryHued: #f2f2f2;
$describe: #999999;

a {
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
kbd{
  background-color: #f2f2f2;
  padding: 2px 4px;
  border-radius: 3px;
}