@import "./base.scss";

@mixin setWAndH($width: auto, $height: auto) {
  width: $width;
  height: $height;
}
@mixin setPAndM($margin: 0, $padding: 0) {
  margin: $margin;
  padding: $padding;
}
@mixin setTransform($fn) {
  transform: $fn;
  -moz-transform: $fn;
  -webkit-transform: $fn;
}
@mixin setTransition($el, $time, $fn) {
  transition: $el $time $fn;
  -moz-transition: $el $time $fn;
  -webkit-transition: $el $time $fn;
}
@mixin setButton(
  $radius: none,
  $border: none,
  $color: $primaryHued,
  $bgColor: $dominantHue
) {
  color: $color;
  background-color: $bgColor;
  border-radius: $radius;
  border: $border;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
@mixin animation($name, $time, $fn, $delay, $status) {
  animation: $name $time $delay $fn $status;
  -moz-animation: $name $time $delay $fn $status; /* Firefox */
  -webkit-animation: $name $time $delay $fn $status; /* Safari and Chrome */
  -o-animation: $name $time $delay $fn $status; /* Opera */
}
@mixin phone {
  @media (max-width: 485px) {
    @content;
  }
}

@mixin phone-pad {
  @media (min-width: 485px) and (max-width: 768px) {
    @content;
  }
}

@mixin pad {
  @media (min-width: 768px) and (max-width: 1200px) {
    @content;
  }
}

@mixin pc {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin landscape {
  @media (orientation: landscape) and (max-width: 768px) {
    @content;
  }
}
