.CodeMirror-dialog {
  position: absolute;
  right: 0;
  left:0;
  background: inherit;
  z-index: 15;
  padding: .5em .8em;
  overflow: hidden;
  color: inherit;
  box-shadow: 0 3px 5px #111111;
}

.CodeMirror-dialog-top {
  top: 0;
}

.CodeMirror-dialog input {
  border: none;
  padding: 2px;
  outline-width: 0.5px;
  outline-color: cornflowerblue;
  background: #3c3c3c;
  width: 10em;
  color: #b1b1b1;
  font-family: inherit;
}

.CodeMirror-dialog button {
  border: none;
  outline: none;
  background-color:#3c3c3c;
  color: #b1b1b1;
  font-size: 70%;
  transition: color 0.3s ease;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 2px;
}
.CodeMirror-dialog button:hover{
  color: #F2F2F2;
}