.CodeMirror-foldmarker {
  color: gray !important;
  text-shadow: 0 0 5px #fff !important;
  font-family: arial;
  line-height: .3;
  cursor: pointer;
  font-size: 0px;
}
.CodeMirror-foldmarker:after{
  content: "\2026";
  font-weight: 800;
  font-size: 12px !important;
}

.CodeMirror-foldgutter {
  width: .7em;
}

.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
  cursor: pointer;
}

.CodeMirror-foldgutter-open:after {
  content: ">" !important;
  display: inline-block;
  transform: rotate(90deg);
}

.CodeMirror-foldgutter-folded:after {
  content: ">" !important;
}
