@font-face {
  font-family: "croog-italic";
  src: url("./static/fonts/CroogItalic.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.font.im/s/josefinsans/v15/Qw3PZQNVED7rKGKxtqIqX5E-AVSJrOCfjY46_DjQbMZhLybvUVw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  width: 100%;
  height: 100%;
  min-width: 360px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: -Scroll;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: #f2f2f2;
  font-family: "Josefin Sans", sans-serif;
}

@media (min-width: 480px) {

  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  ::-webkit-scrollbar {
    outline: none;
    width: 10px;
    height: 10px;
    background-color: #1e1e1e;
  }

  /*定义滚动条轨道 内阴影+圆角*/
  ::-webkit-scrollbar-track {
    background-color: #1e1e1e;
  }

  /*定义滑块 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    background-color: rgba(80, 80, 80, 0.5);
  }

  ::-webkit-scrollbar-thumb:hover {
    outline: none;
    background-color: rgba(80, 80, 80, 1);
  }
}

#app {
  width: 100%;
  height: 100%;
}

.CodeMirror {
  height: 100% !important;
  font-family: Consolas, "Courier New", monospace !important;
}

.CodeMirror-scroll {
  height: 100%;
  overflow-y: hidden;
}

.error-icon {
  color: #ff3c41 !important;
}
