.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 2px;
  border: 1px solid #333333;
  background-color: #3f3f3f;
  font-size: 14px;
  font-family: Consolas, "Courier New", monospace !important;
  max-height: 15em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 0 4px;
  border-radius: 2px;
  white-space: pre;
  color: #cccccc;
  cursor: pointer;
}

.CodeMirror-hint:hover {
  /* transition: all .3s ease; */
  background-color: #555555;
}

li.CodeMirror-hint-active {
  background: rgba(183, 144, 255, 0.795);
  color: #F2F2F2;
}
