@charset "UTF-8";

.modal-sub-title {
  font-size: 16px;
  color: var(--color-active-color);
  margin-bottom: 8px;
  line-height: 21px;

  &:not(:first-child) {
    margin-top: 16px;
  }
}
.modal-desc-text, .modal-small-desc-text {
  font-size: 14px;
  color: var(--color-describe);
  margin-bottom: 8px;
  line-height: 18px;
}
.modal-small-desc-text {
  font-size: 12px;
}