@charset "UTF-8";

$primary0: #254EDB;
$primary1: #3366FF;
$primary2: #6690FF;
$dark-colors: (
  emphasis1: rgb(255 255 255),
  emphasis2: rgb(255 255 255 / 90%),
  emphasis3: rgb(255 255 255 / 80%),
  emphasis4: rgb(255 255 255 / 70%),
  emphasis5: rgb(255 255 255 / 60%),
  primary0: $primary0,
  primary1: $primary1,
  primary2: $primary2,
  red0: #B71C1C,
  red1: #C62828,
  red2: #E53935,
  amber0: #FF6F00,
  amber1: #FF8F00,
  amber2: #FFB300,
  green0: #558B2F,
  green1: #689F38,
  green2: #7CB342,
  main-bg-1: #222228,
  main-bg-2: #18181A,
  main-bg-3: #121214,
  main-bg-4: #28282A,
  active-color: rgb(255 255 255 / 90%),
  describe: rgb(255 255 255 / 60%),
  no-active-color: rgb(255 255 255 / 40%),
  shadow: #000,
  disabled-bgc: rgb(255 255 255 / 8%),
  disabled-color: rgb(255 255 255 / 38%),
  golden: #ffca28,
  /** 特殊 */
  edit-bar-active: #f2f2f2,
  console-bar-color: #f2f2f2,
  preview-bar-color: #f2f2f2,
  badge-color: #f2f2f2,
  badge-border: #181d1e,
  tooltip-color: #f2f2f2,
  mask-bgc: rgb(16 16 16 / 50%),
  modal-def-border: #181d1e,
  popover-bg: #222228,
  form-item: #222228,

  // console
  console-message: rgb(177, 177, 177),
  console-message-bg: transparent,
  console-message-border: rgb(51, 51, 51),
  console-info: #6690FF,
  console-info-bg: transparent,
  console-info-border: rgb(51 51 51),
  console-warn: #FFB300,
  console-warn-bg: rgb(51, 43, 0),
  console-warn-border: rgb(102, 85, 0),
  console-error: #E53935,
  console-error-bg: rgb(41, 0, 0),
  console-error-border: rgb(91, 0, 0),
  console-command: rgb(51, 51, 51),
  console-command-bg: transparent,
  console-command-border: rgb(51, 51, 51),
  console-result: rgb(51 51 51),
  console-result-bg: transparent,
  console-result-border: rgb(51, 51, 51),

  // console value
  console-common: rgb(177, 177, 177),
  console-number: rgb(85, 106, 242),
  console-string: rgb(195, 232, 141),
  console-boolean: rgb(85, 106, 242),
  console-null: rgb(127, 127, 127),
  console-undefined: rgb(127, 127, 127),
  console-symbol: rgb(195, 232, 141),
  console-function-prefix: rgb(255, 152, 164),
  console-regexp: rgb(195, 232, 141),
  console-promise-state: rgb(195, 232, 141),
  console-attribute-name: rgb(93, 176, 215),
  console-element-name: rgb(192, 153, 255),
  console-element-suffix: rgb(93, 176, 215),
  console-attribute-value: rgb(195, 232, 141),
  
  // console table
  console-table-header-bg: rgb(28, 28, 28),
  console-table-color: rgb(255 255 255 / 80%),
  console-table-border: rgb(85, 85, 85),
);
$bright-colors: (
  primary: #9246FF,
  primary-active: #40a9ff,
  error: #e06c75,
  error-active: #ff7875,
  warn: #f4ea2a,
  warn-active: #ffc53d,
  success: #4caf50,
  success-active: #73d13d,
  main-bg-1: #f0f2f3,
  main-bg-2: #f2f2f2,
  main-bg-3: #fff,
  main-bg-4: #28282A,
  active-color: #0085ff,
  describe: #b0b0b0,
  no-active-color: #bfbfbf,
  shadow: #000,
  disabled-bgc: #f5f5f5,
  disabled-color: #00000040,
  golden: #ffca28,
  /** 特殊 */
  edit-bar-active: #0085ff,
  console-bar-color: #101010,
  preview-bar-color: #101010,
  badge-color: #f2f2f2,
  badge-border: #f0f2f3,
  tooltip-color: #101010,
  mask-bgc: rgb(16 16 16 / 50%),
  modal-def-border: #181d1e,
);
$def-font: "WenQuanYi Micro Hei","PingFang SC","Helvetica Neue","Hiragino Sans GB","Microsoft YaHei",simsun,sans-serif;
$code-font: "JetBrains Mono", "Fira Code", "Consolas", "Source Code Pro", "Monaco";
$def-line-height: 1.6;
$shadow: rgb(0 0 0 / 24%) 0 3px 8px;

