.CodeMirror-dialog {
  position: absolute;
  right: 13px;
  background: inherit;
  z-index: 15;
  padding: 4px 10px;
  overflow: hidden;
  color: #bfbfbf;
  box-shadow: 0 3px 5px #111111;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

.dialog-opened {
  padding-top: 30px;
  box-sizing: border-box;
}

.CodeMirror-dialog-top {
  top: 0;
}

.CodeMirror-dialog input {
  outline: none;
  padding: 2px;
  border: 1px solid #3c3c3c;
  background: #3c3c3c;
  width: 14em;
  height: 22px;
  margin-right: 5px;
  box-sizing: border-box;
  color: #bfbfbf;
  font-family: inherit;
}

.CodeMirror-dialog input:focus {
  border: 1px solid #ae81ff;
}

.CodeMirror-dialog button {
  border: none;
  outline: none;
  background-color: #3c3c3c;
  color: #b1b1b1;
  font-size: 70%;
  transition: color 0.3s ease;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 2px;
}

.CodeMirror-dialog button:hover {
  color: #F2F2F2;
}

/* custom dialog style */
.CodeMirror-dialog .js-encoder-search-container {
  display: flex;
  align-items: center;
}

.CodeMirror-dialog .js-encoder-search-container span {
  font-size: 12px;
  margin-right: 5px;
  min-width: 70px;
}

.CodeMirror-dialog .js-encoder-search-container i {
  font-size: 12px;
  display: inline-flex;
  width: 22px;
  padding: 4px 0;
  cursor: pointer;
  justify-content: center;
}

.CodeMirror-dialog .js-encoder-search-container i:hover {
  background-color: #333333;
}

.CodeMirror-dialog .js-encoder-search-container .i-disable:hover {
  background-color: transparent;
}

.CodeMirror-dialog .js-encoder-search-container .i-disable {
  pointer-events: none;
  cursor: default;
  color: #333333;
}