.console-common {
  color: var(--color-console-common);
}
.console-number {
  color: var(--color-console-number);
}
.console-boolean {
  color: var(--color-console-boolean);
}
.console-null {
  color: var(--color-console-null);
} 
.console-string {
  color: var(--color-console-string);
}
.console-bigint {
  color: var(--color-console-number);
}
.console-undefined {
  color: var(--color-console-undefined);
}
.console-regexp {
  color: var(--color-console-regexp);
}
.console-function-prefix {
  color: var(--color-console-function-prefix);
}
.console-symbol {
  color: var(--color-console-symbol);
}
.console-attribute-name {
  color: var(--color-console-attribute-name);
}
.console-function-code {
  color: var(--color-active-color);
}
.console-promise-state {
  color: var(--color-console-promise-state);
}
.console-element-name {
  color: var(--color-console-element-name);
}
.console-attribute-value {
  color: var(--color-console-attribute-value);
}
.console-element-suffix {
  color: var(--color-console-element-suffix);
}
.console-link {
  text-decoration: underline;
  color: var(--color-console-link);
}