@include phone {
  #encoderFooter {
    padding: 20px;
    box-sizing: border-box;
    height: 250px !important;
    flex-direction: column !important;
    .foot-left {
      margin-left: 0 !important;
      margin-bottom: 10px;
      .logo {
        justify-content: center;
      }
    }
    .link {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      a{
        padding: 3px 0;
      }
    }
    .foot-right{
      margin-right: 0 !important;
      margin-top: 10px;
    }
  }
}
@include phone-pad {
  #encoderFooter {
    padding: 10px;
    box-sizing: border-box;
    height: 180px !important;
    flex-direction: column !important;
    .foot-left {
      margin-left: 0 !important;
      .logo {
        justify-content: center;
      }
    }
    .link {
      a {
        margin: 0 8px !important;
      }
    }
    .foot-right{
      margin-right: 0 !important;
    }
  }
}
@include pad {
  #encoderFooter {
    .foot-left {
      width: 180px !important;
    }
    .link {
      a {
        margin: 0 8px !important;
      }
    }
  }
}
@include pc {
}
