@include phone {
  #mainbody {
    width: 100% !important;
    .tabs-list {
      padding-left: 50px;
      box-sizing: border-box;
      .tabs-commands {
        div {
          width: 35px !important;
        }
        .save {
          width: 40px !important;
          span {
            display: none;
          }
          i {
            margin-right: 0 !important;
          }
        }
      }
    }
  }
}
@include phone-pad {
  #mainbody {
    width: 100% !important;
    .tabs-list {
      padding-left: 50px;
      box-sizing: border-box;
      .tabs-commands {
        div {
          width: 35px !important;
        }
        .save {
          width: 40px !important;
          span {
            display: none;
          }
          i {
            margin-right: 0 !important;
          }
        }
      }
    }
  }
}
@include pad {
}
@include pc {
}
