@include phone {
  .sidebar{
    display: none;
  }
  .sidebar-active{
    flex-shrink: 0;
    display: block;
  }
  .profile-body{
    flex-shrink: 0;
  }
  .dialog-box{
    width: 340px !important;
    left: calc(50% - 170px) !important;
  }
  .fold-sidebar{
    display: block !important;
    position: absolute;
    z-index: 20;
    top: 10px;
    left: 10px;
  }
  .fold-sidebar-active{
    left: 60px;
  }
}
@include phone-pad {
  .dialog-box{
    width: 460px !important;
    left: calc(50% - 230px) !important;
  }
}
@include pad {}
@include pc {}
@include landscape {
  .dialog-box {
    top: 20px !important;
    max-height: 300px !important;
  }
}