@include phone {
  #sidebar {
  }
}
@include phone-pad {
  #sidebar {
    width: 40px !important;
    .logo {
      height: 40px !important;
      img {
        @include setWAndH(25px !important, 25px !important);
      }
    }
    .sb-opts {
      & > div {
        height: 40px !important;
        & > i {
          font-size: 26px !important;
          line-height: 40px !important;
        }
      }
    }
  }
}
@include landscape {
  @media (max-height: 480px) {
    .sb-opts {
      & > div {
        height: 40px !important;
        & > i {
          font-size: 25px !important;
          line-height: 40px !important;
        }
      }
    }
  }
}
