@include phone {
  #tabs{
    padding: 5px 10px !important;
    i{
      margin-right: 0 !important;
    }
    span{
      display: none;
    }
  }
}
@include phone-pad {
  #tabs{
    padding: 5px 10px !important;
    i{
      margin-right: 0 !important;
    }
    span{
      display: none;
    }
  }
}
@include pad {}
@include pc {}